{% extends 'mailings/base.html' %}
{% block title %}Клиенты{% endblock %}
{% block content %}
<h2 class="mb-4">Клиенты</h2>
<a class="btn btn-success mb-3" href="{% url 'mailings:client_create' %}">Добавить клиента</a>

{% if object_list %}
<table class="table table-bordered">
    <thead>
        <tr>
            <th>ФИО</th>
            <th>Email</th>
            <th>Комментарий</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for client in object_list %}
        <tr>
            <td>{{ client.full_name }}</td>
            <td>{{ client.email }}</td>
            <td>{{ client.comment }}</td>
            <td>
                <a href="{% url 'mailings:client_update' client.pk %}" class="btn btn-sm btn-primary">Изменить</a>
                <a href="{% url 'mailings:client_delete' client.pk %}" class="btn btn-sm btn-danger">Удалить</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<p>Клиенты не добавлены.</p>
{% endif %}
{% endblock %}

