{% extends 'mailings/base.html' %}

{% block content %}
<div class="container mt-4">
    <div class="card shadow p-4">
        <h2>Профиль пользователя</h2>

        <p><strong>Email:</strong> {{ user.email }}</p>
        <p><strong>Телефон:</strong> {{ user.phone }}</p>
        <p><strong>Страна:</strong> {{ user.country }}</p>

        {% if user.avatar %}
            <p><img src="{{ user.avatar.url }}" width="150"></p>
        {% endif %}

        <a href="{% url 'users:profile_edit' %}" class="btn btn-primary">Редактировать профиль</a>
    </div>
</div>
{% endblock %}
