{% extends 'mailings/base.html' %}

{% block title %}Список рассылок{% endblock %}

{% block content %}
<div class="container mt-4">

    <h2 class="mb-4">Статистика рассылок</h2>

    <div class="row text-center mb-4">
        <div class="col-md-4">
            <div class="card shadow-sm border-success">
                <div class="card-body">
                    <h5 class="card-title text-success">Отправлено сообщений</h5>
                    <p class="card-text fs-4 fw-bold">{{ total_messages }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card shadow-sm border-primary">
                <div class="card-body">
                    <h5 class="card-title text-primary">Успешных рассылок</h5>
                    <p class="card-text fs-4 fw-bold">{{ success_count }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card shadow-sm border-info">
                <div class="card-body">
                    <h5 class="card-title text-info">Неуспешных рассылок</h5>
                    <p class="card-text fs-4 fw-bold">{{ fail_count }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
